<!--<p style="color:white">json : {{pets | json}}</p>-->
<div class="container-fluid">
  <div class="row">
    <div id="gallery" class="col-md-9">
      <div class="gallery">
        @for (pet of pets$ | async ; track pet.id) {
          <div class="gallery-pet fader" (click)="selectPet(pet)">
            <img class="profile-picture" [src]="'https://pettinder.herokuapp.com/' + pet.image">
            <div class="overlay">
              <div class="overlay-text">{{pet.name}}</div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
